@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* NAV MENU UNDERLINE EXPAND */
.nav-link-underline {
  position: relative;
  text-decoration: none;
}

.nav-link-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #8c2c2c; /* Your Maroon Accent Color */

  /* Core mechanism for center-out expansion */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.nav-link-underline:hover::after {
  transform: scaleX(1);
}

/* Center-out horizontal expand hover effect */
.btn-expand-center {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 200ms ease-out;
  isolation: isolate;
}

.btn-expand-center::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--hover-bg, #1b1b1b); /* Fallback color */
  z-index: -1;

  clip-path: inset(0 50% 0 50%);
  transition: clip-path 200ms ease-out;
}

.btn-expand-center:hover::before {
  clip-path: inset(0 0% 0 0%);
}

/*  horizontal Scrolling Row Effect */

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-33.333%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left linear infinite;
}

.animate-marquee-right {
  animation: marquee-right linear infinite;
}
